* {
    padding: 0px;
    margin: 0px;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.25em;
    background: #000;           /* DARK MODE */
    color: #fff;                /* LIGHT TEXT */
}

.sigma-parent {
    position: relative;
    height: 100%;
}

.sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000 !important;  /* DARK background */
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
}

canvas#sigma_bg_1 {
    display: none;
}

/* ATTRIBUTE PANE (Right panel) */
#attributepane {
    display: none;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    right: 0;
    width: 240px;
    background-color: rgba(0,0,0,0.75) !important;
    color: #fff !important;
    border-left: 1px solid #444;
    padding: 0px 18px;
    z-index: 1;
}

#attributepane .headertext {
    color: #fff;
    border-bottom: 1px solid #666;
    font-size: 16px;
    font-weight: bold;
}

/* MAIN CONTROL PANEL (Left top panel) */
#mainpanel {
    width: 200px !important;
    max-height: 300px !important;
    overflow-y: auto !important;

    margin-top: 20px !important;
    margin-left: 20px !important;

    background: rgba(0,0,0,0.6) !important;
    color: #fff !important;

    border: 1px solid #444 !important;
    padding: 12px !important;

    position: fixed !important;
    top: 0 !important;
    z-index: 20 !important;
    border-radius: 6px;
}


#mainpanel dt {
    background-image: url('../images/sprite.png');
}

/* SEARCH BOX */
#search {
    border-top: 1px solid #666;
    padding: 20px 0 0 2px;
}

#search input[name=search] {
    border: 1px solid #666;
    background-color: #222;
    padding: 5px 7px;
    width: 205px;
    color: #fff;
}

#search .results {
    background-color: #111;
    border: 1px solid #666;
    color: #fff;
}

#search .results a {
    color: #fff;
}

#search .results a:hover {
    background-color: #444;
    color: #fff;
}

/* ATTRIBUTE SELECT DROPDOWN */
#attributeselect .select {
    border: 1px solid #777;
    background-color: #444;
    color: #fff;
}

#attributeselect .list {
    border: 1px solid #777;
    background-color: #222;
    color: #fff;
}

#attributeselect .list a {
    color: #fff;
}

#attributeselect .list a:hover {
    background-color: #fff;
    color: #000;
}

/* ZOOM BUTTONS */
#zoom .z {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #555;
}

/* TEXT SECTIONS */
#legend dd,
#copyright a,
.line {
    color: #fff !important;
}

/* INFO PANEL */
#information {
    background: rgba(0,0,0,0.7);
    color: #fff;
}

/* NODE LABELS on DARK MODE */
.sigma-node-label {
    color: #ffffff !important;
    text-shadow: 0px 0px 3px #000 !important;
}
